 #contery{
		width:800px;
		height:521px;
		margin:0 auto;	
	}
	#chat{
		margin-left:10px;
		margin-top:20px;
		font-size:12px;
	}
	#back{
		width:776px;
		height:1px;
		background-color:#ddd;
		margin:5px auto;
	}
	
	#contery_left_b1{
		font-size:14px;
		font-family:"新宋体";
	}
	#contery_left_b1 li:nth-child(2) img{
		margin-left:5px;
		margin-right:10px;
	}
	#contery_left_b1 li:nth-child(4) img{
		margin-left:5px;
		margin-right:10px;
	}
	#contery_left_b1 li:nth-child(6) img{
		margin-left:5px;
		margin-right:10px;
	}
	#contery_left_b2 a{
		margin-left:15px;
	}
	#contery_right{
		width:600px;
		height:440px;
		float:left;
	}
	#contery_right_top{
		width:602px;
		height:50px;
		background:url(../image/cg2.jpg);
		line-height:50px;
		text-align:center;
		font-weight:bold;
		font-size:16px;
		font-family:"新宋体";
	}
	#contery_right_chat{
		width:600px;
		margin:0 auto;
	}
	#contery_right_chat .p1,.p2{
		font-size:14px;
		line-height: 25px;
		font-family:"新宋体";
	}
	#contery_button{
		width:800px;
		height:30px;
		background:url(../image/d_r11_15.jpg);
	}
	
	#contery_right_title{
		font-weight:bold;
		font-size:18px;
		font-family:"黑体";
		color: #888;
		margin-top: 0;
		margin-left: 10px;
	}
	#contery_right_text{
		width: 566px;
		margin: 0 auto;
	}
	#contery_right_img{
		width: 590px;
		text-align: right;
		margin-top: 166px;
	}
	#contery_right_time{
		color: #999;
		padding-right: 44px;
		margin-top: 20px;
		text-align: right;
	}